.leftQuarter{
    float: left;
}

.rightQuarter{
    float: right;
}

.quarter{
    width: 2em;
   height: 2em;
   margin-bottom: 1em;
   border: 1px solid #ebeaf3;
}
.quarter:hover{
    background-color: #009A67;
    transition: background-color 1.6s ease-in-out 0.6s;
}
.threeQuarter{
    width: 8em;
    height: 2em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.quarterSquare{
    display: block;
}

.label{
    font-size: 1em;
}


/*
add smaller media queries here
*/

