@tailwind base;
@tailwind components;
@tailwind utilities;


/*
Alegreya - Home Page
Jost - Minh Pham Design-
-Noto Sans - Raw Materials
-Oswald - The Verge
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Alegreya:ital,wght@0,400..900;1,400..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./fonts.css');


*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232427;
  height: 100vh;
  width: 100vw;
  display: block;
  font-size:larger;
}

/* 
<uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 400 to 900
*/
.alegreya-900 {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
