.wire-frame-main{
    display: block;
}

.wire-frame-wrapper{
    padding: 1em;
    box-sizing: border-box;
    position: relative;
    top: 10em;
    left: 0;
}

.darkModeSwitch{
    padding: 1em 10em;  
    height: fit-content;
    min-height: 3em;
}

.wire-frame-body{
    position: relative;
    top: 7em;
    left: 0;
}

.wire-frame-header{

    width: 100%;
    height: fit-content;
}

.wire-frame-logo{
    width: 7em;
    height: 7em;
}

.wire-frame-title {
    height: 7em;
}

/*

.copyCatHeader{
    padding: 1em;
    width: 100%;
    height: fit-content;
}

.copyCatLogo{
    width: 5em;
    height: 5em;
}

.copy-cat-title{
    height: 7em;
}



colors
*/
.black-acc{
    color: #232427;
 }
 
 .black-background-acc{
     background-color: #232427;
 }
 
 .white-acc{
    color: #ebeaf3;
 }
 
 .white-background-acc{
     background-color: #ebeaf3;
 }
 
 .purple-acc{
  color: #55008b;
 }
 
 .purple-background-acc{
     background-color: #55008b;
 }
 
 .pink-acc{
     color: #ff00a8;
 }
 
 .pink-background-acc{
     background-color: #ff00a8;
 }
 
 .light-blue-acc{
     color: #30afff;
 }
 
 .light-blue-background-acc{
     background-color: #30afff;
 }
 
 .blue-acc{
    color: #2324c6;
 }
 
 .blue-background-acc{
     background-color: #2324c6;
 }





