.home{
    display: block;
}

.homeTabs{
    position: relative;
   top: 8em;
   left: 0;
   text-decoration: none;
   color: #ebeaf3;
   height: fit-content;
   width: 100%;
}

.homeTab{
    text-decoration: none;
   border-radius: 0.7em;
   background-color: #ebeaf3;

  /*
   background-color: #ebeaf3;
   */
}

.homeTab NavLink{
    background-color: #ebeaf3;
    text-decoration: none;
}

.homeTab NavLinkNav {
    text-decoration: none;
    color: #55008b;

}

.homeTab:visited{
    background-color: #55008b;
    color: #ebeaf3;
}
.homeTab:hover{
    background-color: #2324c6;
    color: #ebeaf3;
}

.homeTab:active{
    background-color: #2324c6;
    color: #ebeaf3;
}

.plain{
    text-decoration: none;
}


.copyCatHeader{
    padding: 1em;
    width: 100%;
    height: fit-content;
    margin: 1em;
}

.copyCatLogo{
    width: 5em;
    height: 5em;
}

.copy-cat-title{
    height: 7em;
}

.left{
    float: left;
}

.right{
    float: right;
}

.pagesArea{
    position: relative;
    top: 0;
    left: 0;
}

Nav {
    text-decoration: none;
}