.homeTabs{
   top: 10em;
   text-decoration: none;
   color: #ebeaf3;
   height: fit-content;
}

.homeTab{
    text-decoration: none;
   color: #ebeaf3;
   padding: 1em;
   border-radius: 0.7em;
   background-color: #30afff;

  /*
   background-color: #ebeaf3;
   */
}

.homeTab:link{
    background-color: #30afff;
}

.homeTab:visited{
    background-color: #30afff;
}
.homeTab:hover{
    background-color: #2324c6;
}

.homeTab:active{
    background-color: #2324c6;
}



    

NavLink{
    text-decoration: none;
    color: #ebeaf3;
}

.copyCatHeader{
    padding: 1em;
}
.copyCatLogo{
    width: 50px;
    height: 5cap;
}

.left{
    float: left;
}

.right{
    float: right;
}